<!-- offcanvas -->
<div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">

    <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
            <ul class="navbar-nav">
                <li>
                    <div class="text-muted small fw-bold text-uppercase px-3">
                        GDev
                    </div>
                </li>
                <li *ngFor="let menu of asideMenuList">
                    <a [routerLink]="menu.url"  class="nav-link px-3" routerLinkActive="active">
                        <span class="me-2"><span class="material-symbols-sharp">{{menu.icon}}</span></span>
                        <span>{{menu.title}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="navbar-nav mt-auto">
        <button class="btn btn-outline-light btn-lg" type="button" (click)="logout()"><span class="me-4">Salir</span><span class="me-2 material-symbols-sharp">logout</span></button>
    </div>
</div>